@media (max-width: 620px){
    .contenedor .wrap .box {
        padding: 25px;
        text-align: justify;
    }
    .nav .nav_link{
        margin-right: 0px;
}
    .info-section{
        padding: 25px;
    }
    body {
background:#d4d4bd;

    }


}

@media (max-width:992px){
    .texto-descriptivo {
       
        display: flex;
        max-width: 2000px;
        margin-bottom: 25px;
        align-content: center;
        padding: 25px;
        justify-content: space-evenly;
        color: #635d5d;
        flex-direction: column;
        text-align: justify;
   }
}
    