@media (max-width: 620px){
    .contenedor .wrap .box {
        padding: 25px;
        text-align: justify;
    }
    .nav .nav_link{
        margin-right: 0px;
}
    .info-section{
        padding: 25px;
    }
    body {
background:#d4d4bd;

    }
    .menu-toggle {
        display: flex;
      }

    #menu-toggle:checked + .nav {
        display: flex;
      }

    .nav {
        flex-direction: column;
        position: absolute;
        top: 400px;
        left: 5%;
        background-color: var(--secondary);
        width: 90%;
        padding: 20px;
        border: 2px solid var(--electric);
        border-top: none;
        border-radius: 0 0 20px 20px;
        display: none;
        
      }

      .info-section .info-card {
        width: 320px;

      }

      li ul{
        background:#d4d4bd;
        margin-top: -20px;
      }

}

@media (max-width:992px){
    .texto-descriptivo {
       
        display: flex;
        max-width: 2000px;
        margin-bottom: 25px;
        align-content: center;
        padding: 25px;
        justify-content: space-evenly;
        color: #635d5d;
        flex-direction: column;
        text-align: justify;
   }
}
    